:root {
    --bg-body: linear-gradient(45deg, #4b6cb7, #182848);
    --shadow-button: 0 0 6px 2px #1828486b, inset 0 0 12px 1px #4b6cb7b9;
    --shadow-container: 0 0 14px 0.5px #1828486c;
    --shadow-screen: inset 0 0 10px #052f7c91;
    --shadow-active-button: 0 0 12px 1px #182848b9;
    --function-color: gold;
    --text-color: #eee;
}